<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    h1{
font-size: 40px;
color:red;
text-align:center;
}
body{
background-image: linear-gradient(180deg,rgba(255,221,64,0.5),rgba(165,146,180,0.7)),url( "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/ed/95/07/limak-eurasia-luxury.jpg?w=700&h=-1&s=1");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>ADD NEW HOTEL</title>
</head>
<body>
<h1><b>ADD NEW HOTEL </b></h1>
<form style="text-align:center;" action="#" th:action="@{/hotel/create}" th:object="${hotel}" th:method="POST">
    <p>Country:<select th:field="*{country}">
        <option th:each="country : ${countries}"
                th:value="${country}"
                th:text="${country}"> Country
        </option>
    </select>
    </p>
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p>Star: <label for="quantity"></label>
        <input type="number" id="quantity" name="quantity" min="1" max="5" th:field="*{star}"/></p>
    <p>Guest <label for="quantity"></label>
        <input type="number" id="quantitys" name="quantity" min="1" th:field="*{guest}"/></p>
    <p>Breakfast:<input type="checkbox" name="breakfast" value="1" th:field="*{breakfast}"/>
        Lunch:<input type="checkbox" name="lunch" value="1" th:field="*{lunch}"/>
        Dinner:<input type="checkbox" name="dinner" value="1" th:field="*{dinner}"/>
        TV:<input type="checkbox" name="TV" value="1" th:field="*{tv}"/>
        Air Conditioner:<input type="checkbox" name="airConditioner" value="1" th:field="*{airConditioner}"/>
        Balcony:<input type="checkbox" name="balcony" value="1" th:field="*{balcony}"/></p>
    <p><input type="submit" value="Save Hotel"/></p>
</form>
</body>
</html>