<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    h1{
        font-size: 40px;
        color:red;
        text-align:center;
    }
    body{
        background-image: linear-gradient(180deg,rgba(255,221,64,0.5),rgba(165,146,180,0.7)),url( "https://img.freepik.com/free-vector/oops-doodle-hand-drawn-vector-typography_53876-165815.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    h3{
        text-align:left;
        color:black;
        font-size: 30px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Exception Page</title>
</head>
<body>
<h3>
    <a th:href="@{'/menu'}">Menu</a>
</h3>
<h1><span th:if="${errorMessage}!=null" th:text="${errorMessage}"></span></h1>
</body>
</html>